{% extends 'learning_logs/base.html' %}
{% load learning_logs_tag %}

{% block page_header %}
<h1>{{ topic }}</h1>
<a href="{% url 'learning_logs:topics'%}">
    &#9756; Back to Topics</a></li>
{% endblock page_header %}


{% block content %}

<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a> 
   
</p>

{% for entry in entries %}
<div class="card mb-3">
    <h4 class="card-header">
        {{ entry.date_added | date:'M d, Y H:i' }}
        <a href="{% url 'learning_logs:edit_entry' entry.id %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Edit entry</a>
            <a href="{% url 'learning_logs:delete_entry' entry.id %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true">Delete Entry</a>
            
    </h4> 
    <div class="card-body">
        {{ entry.text|markdown | linebreaks }} 
    </div>
</div>
{% empty %}
    <p>There are no entries for this topic yet.</p>
{% endfor %}

{% endblock content %}